.mainbar{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 2px 2px 2px lightgrey;
}
.mainname{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
.mainlogo{
    border-radius: 50px;
}
.logoname{
    font-size: 20px;
}
.mainbar2{
    display: flex;
}
