.form{
    display: flex;
}
.form2{
    width: 100vh;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px lightblue;
    margin-left: 300px;
    padding-left: 100px;
    padding-right: 200px;
    margin-top: 150px;
}
.pic{
    border-radius: 50px;
}
.formhead{
    font-size: 25px;
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formname{
    margin-bottom: 20px;
}

.col{
    display: grid;
    grid-template-columns: 400px 400px;
}

.user{
    font-size: 15px;
    color: gray;
    font-family: 'Franklin Gothic';
}
.userinput{
    width: 300px;
    height: 30px;
    text-align: center;
}

.userinput:hover{
    border-color: blue;
}

.formbutton{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.button2{
    width: 200px;
    height: 40px;
    background-color:lightgrey;
    border-width: 1px;
    font-size: 15px;
    border-radius: 20px;
    color: white;
}

.button2:hover{
    background-color: blue;
}

.checkbox{
    margin-top: 30px;
    margin-left: 30px;
}